[submodule "libs/mpandroidchart"]
	path = libs/mpandroidchart
	url = https://github.com/NamelessRom/android_external_mpandroidchart
[submodule "libs/AndroidSwipeLayout"]
	path = libs/AndroidSwipeLayout
	url = https://github.com/NamelessRom/android_external_AndroidSwipeLayout
