<?xml version="1.0" encoding="utf-8"?>
<!--  Copyright (C) 2013 - 2014 Alexander "Evisceration" Martinz

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.namelessrom.devicecontrol"
    android:versionCode="78"
    android:versionName="0.6.4">

    <uses-sdk tools:node="replace" />

    <!-- ACRA -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Read / Write -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- In-App-Purchases -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Boot Up -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- SuperUser -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <!-- Device Information -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Application permissions -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Device Control -->
    <uses-permission android:name="org.namelessrom.devicecontrol.API" />

    <permission
        android:name="org.namelessrom.devicecontrol.API"
        android:description="@string/permission_api_description"
        android:label="@string/permission_api_label"
        android:protectionLevel="dangerous" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.acra.CrashReportDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".DummyLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:enabled="true"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.MainActivity" />
                <action android:name="org.namelessrom.devicecontrol.activities.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AppDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_details"
            android:launchMode="singleTask"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.settings.APPLICATION_DETAILS_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FilePickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/pick_file"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.api.FILE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wizard.AddTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_task"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" />

        <!-- Services -->
        <service
            android:name=".services.FstrimService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.BootUpService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.TaskerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.WebServerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".api.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.namelessrom.devicecontrol.API"
            android:process=":remote">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.api.IRemoteService" />
                <action android:name="org.namelessrom.devicecontrol.api.RemoteService" />
                <action android:name="org.namelessrom.devicecontrol.api.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <!-- Broadcast Receivers -->
        <receiver android:name=".receivers.BootUpReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.SecretCodeReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="13372"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <!-- Widgets -->
        <receiver
            android:name=".widgets.RebootWidget"
            android:icon="@drawable/ic_power"
            android:label="@string/reboot">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.widgets.showrebootdialog" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_reboot" />
        </receiver>

        <activity
            android:name=".widgets.RebootWidget$RebootDialogActivity"
            android:label="@string/reboot"
            android:theme="@style/CustomDialog"
            android:launchMode="singleInstance"/>
    </application>

</manifest>
