<?xml version="1.0" encoding="utf-8"?>
<!--  Copyright (C) 2013 - 2014 Alexander "Evisceration" Martinz

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.namelessrom.devicecontrol"
    android:versionCode="98"
    android:versionName="0.7.3">

    <!-- currently broken, reenable once fixed -->
    <!--uses-sdk tools:node="replace" /-->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- Internet / Networking -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Read / Write -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Boot Up -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- SuperUser -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <!-- Device Information -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Application permissions -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <!--suppress DeprecatedClassUsageInspection -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Power -->
    <uses-permission android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <!-- Device Control -->
    <uses-permission android:name="org.namelessrom.devicecontrol.API" />

    <uses-feature android:name="org.namelessrom.android"
        android:required="false" />

    <uses-feature android:name="android.hardware.location.gps"
        android:required="false" />

    <permission
        android:name="org.namelessrom.devicecontrol.API"
        android:description="@string/permission_api_description"
        android:label="@string/permission_api_label"
        android:protectionLevel="dangerous" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Light"
        android:largeHeap="true">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".DummyLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:enabled="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.MainActivity" />
                <action android:name="org.namelessrom.devicecontrol.activities.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AppDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_details"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.settings.APPLICATION_DETAILS_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.namelessrom.devicecontrol.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RequestFileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/pick_file"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.namelessrom.devicecontrol.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FilePickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/pick_file"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.api.FILE_PICKER" />
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.namelessrom.devicecontrol.MainActivity" />
        </activity>
        <activity
            android:name=".wizard.AddTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_task"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Light"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.namelessrom.devicecontrol.MainActivity" />
        </activity>

        <!-- Services -->
        <service
            android:name=".services.FstrimService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.BootUpService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.TaskerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.WebServerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".api.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.namelessrom.devicecontrol.API"
            android:process=":remote">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.api.IRemoteService" />
                <action android:name="org.namelessrom.devicecontrol.api.RemoteService" />
                <action android:name="org.namelessrom.devicecontrol.api.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <!-- Broadcast Receivers -->
        <receiver android:name=".receivers.BootUpReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.SecretCodeReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="13372"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <!-- Widgets -->
        <receiver
            android:name=".ui.widgets.RebootWidget"
            android:icon="@drawable/ic_power"
            android:label="@string/reboot">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.widgets.showrebootdialog" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_reboot" />
        </receiver>

        <activity
            android:name=".ui.widgets.RebootWidget$RebootDialogActivity"
            android:label="@string/reboot"
            android:launchMode="singleInstance"
            android:theme="@style/CustomDialog" />
    </application>

</manifest>
