<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.namelessrom.devicecontrol"
    android:versionCode="63"
    android:versionName="0.5.4">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- ACRA -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Read / Write -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- In-App-Purchases -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Boot Up -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- SuperUser -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <!-- Device Information -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Application permissions -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Device Control -->
    <uses-permission android:name="org.namelessrom.devicecontrol.API" />

    <permission
        android:name="org.namelessrom.devicecontrol.API"
        android:description="@string/permission_api_description"
        android:label="@string/permission_api_label"
        android:protectionLevel="dangerous" />

    <application
        android:name="org.namelessrom.devicecontrol.Application"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.acra.CrashReportDialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity
            android:name="org.namelessrom.devicecontrol.DummyLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:enabled="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.namelessrom.devicecontrol.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.MainActivity" />
                <action android:name="org.namelessrom.devicecontrol.activities.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.namelessrom.devicecontrol.wizard.AddTaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/add_task"
            android:launchMode="singleTask"
            android:parentActivityName="org.namelessrom.devicecontrol.MainActivity" />

        <!-- Services -->
        <service
            android:name="org.namelessrom.devicecontrol.services.FstrimService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="org.namelessrom.devicecontrol.services.BootUpService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="org.namelessrom.devicecontrol.services.TaskerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="org.namelessrom.devicecontrol.services.WebServerService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="org.namelessrom.devicecontrol.api.RemoteService"
            android:enabled="true"
            android:exported="true"
            android:permission="org.namelessrom.devicecontrol.API"
            android:process=":remote">
            <intent-filter>
                <action android:name="org.namelessrom.devicecontrol.api.IRemoteService" />
                <action android:name="org.namelessrom.devicecontrol.api.RemoteService" />
                <action android:name="org.namelessrom.devicecontrol.api.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <!-- Broadcast Receivers -->
        <receiver android:name="org.namelessrom.devicecontrol.receivers.BootUpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.namelessrom.devicecontrol.receivers.SecretCodeReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="13372"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
