<!-- main content -->
<div class="main">
    <div class="welcome" ng-show="navBarCtrl.isSelected(1)">
        <h1>{{'WELCOME' | translate}}</h1>
        <br/><br/>
        {{'WELCOME_MESSAGE_1' | translate}}<br/>
        {{'WELCOME_MESSAGE_2' | translate}}
    </div>
    <div class="device" ng-show="navBarCtrl.isSelected(2)">
        <h1>{{'DEVICE_INFORMATION' | translate}}</h1>
        <device-information></device-information>
    </div>
    <div class="files" ng-show="navBarCtrl.isSelected(3)" ng-controller="FileController as fileCtrl">
        <h1>Files</h1>
        <ol class="breadcrumb">
            <li><a href ng-click="fileCtrl.loadPath('/')">{{'HOME' | translate}}</a></li>
            <li ng-repeat="breadcrumb in fileCtrl.breadcrumbs">
                <a href ng-click="fileCtrl.loadPath(breadcrumb.path)">{{breadcrumb.name}}</a>
            </li>
        </ol>
        <file-entry></file-entry>
    </div>
    <div class="license" ng-show="navBarCtrl.isSelected(4)" ng-include="'/license.html'"></div>
</div>
